upstream backend  {
{% for host in groups['app'] %}
    server {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:80 max_fails=3  fail_timeout=5s;
{% endfor %}
}
 
proxy_cache_path /var/cache/nginx levels=1:2  keys_zone=CACHE:10m inactive=24h  max_size=1g;

server {
    listen          80  default_server;
    server_name     {{ website_name }};
 
    access_log  /var/log/nginx/{{ website_name }}.access.log;
    error_log   /var/log/nginx/{{ website_name }}.error.log;
    root        /usr/share/nginx/html;
 
    location / {
        proxy_pass              http://backend;
        proxy_next_upstream     error timeout invalid_header http_500 http_502 http_503 http_504;
        proxy_redirect          off;
        proxy_cache             CACHE;
        proxy_cache_valid       200  1d;
        proxy_cache_use_stale   error timeout invalid_header updating  http_500 http_502 http_503 http_504;
        proxy_set_header        Host            $host;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
   }
}